:root {
    font-family: "Space Grotesk", system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #e5e7eb;
    background-color: #0b1224;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}
